* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background: #FFF;
  color: #67727A;
  font-family: 'Alegreya', sans-serif;
  font-size: 100%;
}
main {
  width: 100%;
  margin: 5%;
  display: flex;
  justify-content: center;
}
.titulo {
  width: 100%;
}
h3 {
  text-align: center;
}
.agregar-producto {
  width: 100%;
  max-width: 600px;
  min-width: 300px;
  padding: 40px;
  background-color: #FAFAFA;
  border: 1px solid #E0E0E0;
  display: flex;
  flex-direction: column;
}
.campo {
  margin-top: 20px;
  display: flex;
}
.campo label {
  flex: 1;
  font-weight: bold;
}
.campo input, .campo button, .campo select {
  flex: 2;
  max-width: 400px;
  min-width: 150px;
  border: 1px solid #CECECE;
  border-radius: 5px;
  padding-left: 4px;
  margin-left: 10px;
}
.detalles-tecnicos {
    margin-top: 15px;
}
.detalles-tecnicos input {
  border-radius: 5px;
  padding-left: 4px;
}
.tabla {
  background-color: #FFF;
  width: 80%;
  border-radius: 5px;
}
.tabla td {
  padding: 5px;
  border-radius: 10px;
  text-align: center;
}
.especificacion {
  box-shadow: 0 0 5px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  * {
    font-size: 100%;
  }

  .agregar-producto {
    margin-right: 10%;
  }

  .campo input, .campo button, .campo select {
    margin-right: 10%;
  }

  .tabla tbody tr td input {
    margin-right: 20%;
    max-width: 130px;
  }

}
@media screen and (max-width: 600px) {
  .tabla, .tabla tr, .tabla td, tbody {
    display: block;
  }
  .tabla tr td {
    position: relative;
    padding-left: 20%;
    text-align: left;
  }
  .tabla tr td::before {
    position: absolute;
  }
  #otro-producto article {
    display: block;
    position: relative;
  }
}
