main {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 5%;
}
.producto, .detalles-tecnicos, .mas-productos, .detalle-empresa {
  max-width: 1200px;
  min-width: 320px;
}
#otro-producto {
  width: 20%;
  float: left;
  text-align: center;
}
.preguntas{
  padding: 5%;
  font: 120% sans-serif small-caps;
}

h4{
  color: blue;
   font: oblique bold 120% cursive;
}
h5{
  color:blue;
   font: oblique bold 120% cursive;
}
h6{
  color: blue;
   font: oblique bold 120% cursive;
}