body {
  background: #FFF;
  color: #67727A;
  font-family: 'Alegreya', sans-serif;
  font-size: 85%;
}

main {
  width: 100%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.producto, .detalles-tecnicos, .mas-productos, .detalle-empresa {
  max-width: 1200px;
  min-width: 320px;
}
#otro-producto {
  width: 20%;
  float: left;
  text-align: center;
}
.formulario{
  color: blue;
  margin: auto;
  width: 100%;
  max-width: 400px;
  background: #FAFAFA;
  padding: 50px;
  border: 1px;
  border-radius: 4px;
}
#cuerpo{
  background: white;
}
aside{
  background-color:white;
  height:30px;
  line-height:30px;
  flex: 1 30%;
}
h2{
  text-align: center;
  margin-bottom: 20px;

}
input{
  display: block;
  padding: 10px;
  width: 100%;
  margin: 30px 0;
  font-size: 20px;
}
input[type="submit"]{
  background: linear-gradient(#FFDA63,#FFB940);
  border: 0;
  color: brown;
  opacity: 0.8;
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 0;
}
input[type="submit"]:hover{
  opacity: 1;
}
input[type="submit"]:active{
  transform: scale(0.95);
}
.boton{
  padding: 10px;
  margin: auto;
  margin-bottom: 0;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.8;
  font-size: 20px;
  color: brown;
  border-radius: 20px;
  background: linear-gradient(#FFDA63,#FFB940);
  border:0;
  transform: scale(0.95);
}
.boton:hover{
    opacity: 1;
}
