* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #FFF;
  color: #67727A;
  font-family: 'Alegreya', sans-serif;
  font-size: 85%;
}

h1 {
  text-align: center;
  padding: 2%;
}

h3 {
  padding: 2%;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.producto, .detalles-tecnicos, .mas-productos, .detalle-empresa {
  width: 80%;
  max-width: 1200px;
  min-width: 320px;
  margin: 10px auto;
  padding: 20px;
  background-color: #FAFAFA;
  border: 1px solid #E0E0E0;
  display: flex;
  justify-content: center;
}

.producto figure {
  flex: 1;
  display: flex;
  padding: 10px;
}

.foto-principal {
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 400px;
}

.producto figure figcaption {
  flex: 1;
  padding: 5%;
}

.producto figure figcaption ul{
  list-style: initial;
}

.precio-producto {
  color: green;
  font-weight: 400;
}

#eliminar {
  padding: 5px 5px 2px 5px;
  float: right;
  background-color: #d50000;
  color: white;
  border-radius: 6px;
}

#otro-producto {
  width: 20%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 5%;
}

#otro-producto img {
  width: 100%;
  max-width: 250px;
  max-height: 250px;
  min-width: 75px;
  min-height: 75px;
}


.tabla {
  background-color: #FFF;
  width: 80%;
  border-radius: 5px;
}

.tabla td {
  padding: 5px;
  border-radius: 10px;
  text-align: center;
}

.especificacion {
  box-shadow: 0 0 5px;
  text-align: center;
}

@media screen and (max-width: 800px) {

  .foto-principal {
    max-width: 100px;
    max-height: 100px;
  }

  .producto figure figcaption {
    font-size: 75%;
  }

}

@media screen and (max-width: 450px) {
  .tabla, .tabla tr, .tabla td, tbody {
    display: block;
  }

  .tabla tr td {
    position: relative;;
    padding-left: 20%;
    text-align: left;
  }

  .tabla tr td::before {
    position: absolute;
  }

  #otro-producto article {
    display: block;
    position: relative;
  }
}
