/*
.form-row{
	padding: :10px 0;
	display: flex;
}

.form-row label {
	padding-right: 10px;
}

.form-row input {
	flex: 1;
}
*/
h1{
	margin-left: 10px;
	order: 1;
	flex:1;

	
}

.prueba{
	display: flex;
	
	background-color: black;
	height: 100px;
	color: white;
}
.seccion_busqueda{
	
	
	display: flex;
	order: 2;
	flex:1;
	
	



}
.busqueda{
	display: flex;
	margin: auto;
	flex: 2;
	
	
}
.busqueda input{
	flex:1;
	
}