/*
.form-row{
	padding: :10px 0;
	display: flex;
}

.form-row label {
	padding-right: 10px;
}

.form-row input {
	flex: 1;
}
*/
h1{
	margin-left: 10px;
	order: 1;
	flex:1;	
}
h2{
	margin-right: 10px;
	order: 3;
	font-size: 15px;
	margin:auto;
	padding-right: 4%;
			
}

.prueba{
	display: flex;
	
	background-color: black;
	height: 100px;
	color: white;
}
.seccion_busqueda{
	
	
	display: flex;
	order: 2;
	flex:3;
	padding-right: 25%;
	padding-left: 10%;
	
	



}
.busqueda{
	display: flex;
	margin: auto;
	flex: 2;
	
	
}
.busqueda input{
	flex:1;
	
}
.menusitos{
	display: flex;
	color:white;
	background-color: black;
	justify-content: flex-end;
	
	
	

}
h3{
	font-size: 14px;
	padding-left:5%;
	margin:0 1%;
}